./backend/Dockerfile
./backend/env/
./frontend/node_modules/
./frontend/Dockerfile


# Terraform State Files
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
terraform.tfvars.json
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
